@media (min-width: 1px) {
	h1 {
		text-align: center;
		font-size:45px !important;
	} 
	h2 {
		font-size:35px !important;
	}
}

@media (min-width: 480px) { 
	h1 {
		text-align: center;
		font-size:45px !important;
	} 
	
	h2 {
		font-size:35px !important;	
	}
}

@media (min-width: 768px) {  
	h1 {
		font-size:45px !important;
	} 
	.content {
		height:auto;
	}
}

@media (min-width: 992px) {  
	h1 {
		font-size:55px !important;
	}  
		
	.content {
		height:100%;
	}
}

@media (min-width: 1200px) {  
	h1 {
		font-size:55px !important;
	}  
}

html, body {
	font-family:  Spectral, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
	font-size: 22px;
	min-height: 100% !important;
	height: 100%;
}

h1,h2,h5 {
	font-family: FF Super Grotesk, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
}

p {
	margin: 0 !important;
	line-height: 1.4;
}

.menuButton:hover {
	text-decoration:underline;
	cursor: pointer;
}

.menuButton:focus {
	text-decoration:none;
}

.subMenuItem {
	font-size: 18px;
	display:block;
	color:black;
}

.subMenuItem:hover {
	color:black;
}

.fadeInGroup {
	transition: opacity 0.25s ease;
}

.fadeInGroup.a {
	color:black;
}

.fadeInGroup > a {
	transition: opacity 0.25s ease;
}

.fadeInGroup:hover > a{
	transition: opacity 0.25s ease;
	opacity: 0.2;
}

.fadeInGroup:hover > a:hover {
	opacity: 1.0;
	transition: opacity 0.25s ease;	
}

.video {
	position:relative;
	z-index: 2;
}

.emphasizedText {
	/* font-weight:bold; */
}

#headerMobile {
	top: 50px;
}

#header {
	height:55px; 
	z-index:4;
}


.logo {
	color: black; 
	text-decoration:none; 
	font-weight:bold;
	font-family: FF Super Grotesk, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
	position: relative;
	padding-bottom:0px;
	font-size: 22px;
}

.logo:hover {
	color:black;
}

.navMenuBorder {
	 border: 1px solid #b3b3b3;
}

.menuItem {
	font-family: FF Super Grotesk, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
	font-size: 22px;
	color:black;
}

.menuItem:hover {
	color: black;
}

.menuItemLarge {
	font-family: FF Super Grotesk, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
	font-size: 26px;
	color:black;
}

.menuItemLarge:hover {
	color: black;
}

.menuSelectedLarge {
	font-family: FF Super Grotesk, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif !important;
	font-size: 26px;
	color:black;
	font-weight: bold;
	text-decoration:none;
}

.menuSelectedLarge:hover {
	color:black;
}

.menuSelected {
	font-size: 22px;
	color:black;
	font-weight: bold;
	text-decoration:none;
}

.menuSelected:hover {
	text-decoration:none;
	color:black;
}

.card {
	background-color:#fffcf6 !important;
	border-radius: 0rem !important;
	border-color: rgb(0,0,0) !important;
}

.card-body {
	line-height:1.6;
}


#navBarMobile {
	z-index: 4; 
	height:55px; 
}

#navBarMenuMobile {
	 z-index: 3; 
	 display:none; 
	 background-color: #fffcf6; 
	 top:55px;
	 padding-bottom:55px;
	 opacity: 0.95;
}

#navBarMenu {
	background-color:#fffcf6;
	pointer-events: auto;
	opacity: 0.95;
	z-index:3;
	display:none;
}

#contentContainer {
	background-color: #fffcf6 !important;
	min-height: 100% !important;
}

.backgroundImage {
	-webkit-animation: loadFadeIn 2s ease;
	-moz-animation:    loadFadeIn 2s ease;
	-o-animation:      loadFadeIn 2s ease;
	animation:         loadFadeIn 2s ease;
}

.source {
	font-weight:bold;
}

/* *
/* 
/* Colors
/* 
/* */
.purple {
	color: #6b437a;
}

.purple:hover {
	color:#6b437a;
}

.purpleBackground {
	background-color:#c0a1cc;
}

.orange {
	color: #ff7113;
}

.orange:hover {
	color: #ff7113;
}

.orangeBackground {
	background-color: #ffac75;
}

.blue {
	color: #036793;
}

.blue:hover {
	color: #036793;
}

.blueBackground {
	background-color:#a3d8ee;
}

.green {
	color: #249244;
}

.green:hover {
	color: #249244;	
}

.greenBackground {
	background-color:#9fe7b3;
}

.red {
	color: #d70b00;
}

.red:hover {
	color: #d70b00;
}

.redBackground {
	background-color: #ff8f89;
}

.animateBackground:hover {
    background: #3374C2;
}

.defaultBackground {
	background-color: #fffcf6;
}

.dot {
	margin-bottom: 2px;
	height: 5px;
	width: 5px;
	background-color: black;
	border-radius: 50%;
	display: inline-block;
}

/* * * * * * * * * * * * * * * * * *
/* 
/* Fadein on load
/* 
/* *  * * * * * * * * * * * * * * * */

.fadein{
	-webkit-animation: fadeInLoad 2.5s; 
	 -moz-animation: fadeInLoad 2.5s; /* Firefox < 16 */
        -ms-animation: fadeInLoad 2.5s; /* Internet Explorer */
         -o-animation: fadeInLoad 2.5s; /* Opera < 12.1 */
            animation: fadeInLoad 2.5s;
}

@-webkit-keyframes fadeInLoad{
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeInLoad {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeInLoad {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeInLoad {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
 
/* * * * * * * * * * * * * * * * * *
/* 
/* Rotating Arrow
/* 
/* *  * * * * * * * * * * * * * * * */

.rotateIcon .fas {
	transition: .3s transform ease-in-out;
}

.rotateIcon .collapsed .fas {
	transform: rotate(-90deg);
}
 
.rotate {
    -moz-transition: all .5s linear;
    -webkit-transition: all .5s linear;
    transition: all .5s linear;
}

.rotate.down {
    -moz-transform:rotate(90deg);
    -webkit-transform:rotate(90deg);
    transform:rotate(90deg);
}
 
/* * * * * * * * * * * * * * * * * * * 
/* 
/* Hamburger Button
/* 
/* * * * * * * * * * * * * * * * * * */

.line{
	width: 1.2pc;
	height: 0.1pc;
	background-color: black;
	display: block;
	margin: 1pc;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	margin: 5px auto;	
}

.hamburger:hover {
  cursor: pointer;
}

.hamburgerButton.is-active .line:nth-child(1) {
	-webkit-transform: translateY(6.5px) rotate(45deg);
	-ms-transform: translateY(6.5px) rotate(45deg);
	-o-transform: translateY(6.5px) rotate(45deg);
	transform: translateY(6.5px) rotate(45deg);
}

.hamburgerButton.is-active .line:nth-child(2) {
	opacity: 0;
}

.hamburgerButton.is-active .line:nth-child(3) {
	-webkit-transform: translateY(-6.5px) rotate(-45deg);
	-ms-transform: translateY(-6.5px) rotate(-45deg);
	-o-transform: translateY(-6.5px) rotate(-45deg);
	transform: translateY(-6.5px) rotate(-45deg);
}